[Desktop Entry]
Name=POM-2 Hidpi
Comment=POM-2 HiDPI Aurorae (Window Decoration) Theme

X-KDE-PluginInfo-Author=Jack "raspy" Avery
X-KDE-PluginInfo-Name=pom-2-aurorae-hidpi
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL_V3
X-KDE-PluginInfo-EnabledByDefault=true
